<p>deals-bi works!</p>
<!-- <div>
  <div class="example-container">
    <h2>To do</h2>

    <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="todo" [cdkDropListConnectedTo]="[doneList]"
      class="example-list" (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of todo" cdkDrag>{{item}}</div>
    </div>
  </div>

  <div class="example-container">
    <h2>Done</h2>

    <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="done" [cdkDropListConnectedTo]="[todoList]"
      class="example-list" (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of done" cdkDrag>{{item}}</div>
    </div>
  </div>

</div>
<hr> -->


<div class="example-container">
  <h2>Filter</h2>
  <button (click)="getData('filter')">get data</button>
  <div cdkDropList id="list-one" [cdkDropListData]="filterList" class="example-list"
    [cdkDropListConnectedTo]="['list-two']" (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let filter of filterList" cdkDrag>{{filter.name}}</div>
  </div>
</div>




<hr>
<div *ngFor="let list of groupList; let i = index">
  <div class="example-container">
    <h2>{{list.name}}</h2>
    <button (click)="getData('list')">get data</button>
    <div cdkDropList id="list-two" [cdkDropListData]="list.items" class="example-list"
      [cdkDropListConnectedTo]="['list-one']" (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of list.items" cdkDrag>{{item.name}}</div>
    </div>
  </div>
</div>