<!-- <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
  <div class="example-box" *ngFor="let movie of movies" cdkDrag>
    <div draggable [dragData]="movie" droppable (onDrop)="onItemDrop($event,movie)">
      {{movie}}
    </div>
  </div>
</div> -->
<!-- <app-drag-drop-area></app-drag-drop-area> -->
<!-- <hr> -->
<!-- <app-drag-drop-group></app-drag-drop-group> -->
<!-- <hr>
<app-group></app-group> -->
<!-- <hr> -->
<!-- <app-deals-bi></app-deals-bi> -->
<!-- <app-merge-group></app-merge-group> -->

<div class="container">
  <h1>Star Wars Movies</h1>
  <app-merge-group [movies]="movies"></app-merge-group>
</div>