<div cdkDropListGroup>
  <div cdkDropList (cdkDropListDropped)="drop($event)" class="drag-drop-list">
    <div *ngFor="let item of items; let i = index" cdkDrag class="drag-drop-item">
      {{i + 1}}. {{item.name}}
    </div>
  </div>
  <div cdkDropList (cdkDropListDropped)="drop($event)" class="drag-drop-list">
    <div *ngFor="let item of items; let i = index" cdkDrag class="drag-drop-item">
      {{i + 1}}. {{item.name}}
    </div>
  </div>
  <hr>
  <div cdkDropList (cdkDropListDropped)="drop($event)" class="merge-area">
    <div *ngFor="let mergedItem of mergedItems; let j = index" cdkDrag class="drag-drop-item">
      <input [(ngModel)]="mergedItem.name"> (Merged Index: {{j + 1}})
      <button (click)="unmerge(mergedItem)">Unmerge</button>
      <div draggable [dragData]="mergedItem" droppable (onDrop)="onItemDrop($event,mergedItem)">
      </div>
    </div>
  </div>
</div>้
<hr>